body {
    background-color: #F0FCFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23F0FCFF'/%3E%3Cstop offset='1' stop-color='%237EC0FF'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
/*Hide stepper button inside numeric inputfields */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}




header {
    background-image: linear-gradient(#2f4875, cornflowerblue);
    margin: 0%;
    padding: 1%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

#updateBtn {
    background-color: cornflowerblue;
    border-radius: 20px;
    border: none;
    margin-left: 1%;
    margin-right: 3%;
    padding: 5px 10px 5px 10px;
    color: white;
    float: right;
}

#openFormBtn {
    background-color: cornflowerblue;
    border-radius: 20px;
    border: none;
    font-size: large;
    margin-left: 1%;
    padding: 5px 10px 5px 10px;
    color: white;
}

    #openFormBtn:hover {
        background-color: #3864b2;
    }

main {
    margin: 7% 1% 1% 1%;
}



/*Responsible for the blur effect behind the dialogForm*/
::backdrop {
    background: transparent;
    background-color: #6e9eea73;
    backdrop-filter: blur(10px);
    opacity: 0.75;
}


input, textarea {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 10px 4px #6495ed35;
}

/*#region Table Styling*/


table {
    width: 90%;
    padding-top: 1%;
}

thead tr {
    background-color: cornflowerblue;
    border-radius: 20px;
    font-size: larger;
    color: white;
}

    thead tr th:hover {
        background-color: #3864b2;
    }


tbody > tr:nth-child(2n+1) {
    background-color: cornflowerblue;
}

.trId {
    font-weight: bold;
    background-color: rgba(238, 164, 127, 0.2);
    width: 5%
}

.trName {
    width: 20%
}

.trPrice {
    width: 15%;
}

.trDescription {
    padding: 10px 10px 10px 10px;
    width: 50%;
}

.trEdit {
    width: 5%;
}

.trDelete {
    width: 5%;
}

.modifyBtn, .deleteBtn {
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.modifyBtn {
    background-color: cornflowerblue;
    color: white;
}

.deleteBtn {
    background-color: rgb(255,150,150);
    color: black;
}

tbody td {
    border: solid 1px black;
    border-radius: 2px;
    background: transparent;
    background-color: #f0fcff61;
    backdrop-filter: blur(20px);
    padding: 5px 5px 5px 5px;
}



/*#endregion */

/*#region Product Form Styling*/
#dialog {
    border-radius: 20px;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    background: transparent;
    backdrop-filter: blur(3px);
    background-color: #fffffff0;
}

#inputForm {
    display: grid;
    grid-template-areas:
        "header"
        "idLabel"
        "nameLabel"
        "nameInput"
        "priceLabel"
        "priceInput"
        "descriptionLabel"
        "descriptionInput"
        "errorMsg"
        "confirmBtn"
}

.formHeader {
    grid-area: header;
    background-image: linear-gradient(cornflowerblue, #2f4875);
    /*prevents button from going outside div*/
    overflow: hidden;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-style: none none solid none;
    border-width: 2px;
}

#formTitle {
    font-weight: bolder;
    margin-top: 0;
    margin-bottom: 10px;
}

/*contains the button*/
#closeBtnDiv {
    margin-left: auto;
}

#cancelBtn {
    background-color: transparent;
    font-weight: bolder;
    border: none;
    float: right;
    margin-right: 10px;
    margin-top: 3px;
}

#inputForm label {
    display: block;
    margin-bottom: 5px;
    margin-left: 25px;
    font-weight: bold;
}

#inputForm > input, #inputForm > textarea, #inputForm > button {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
}

#idLabel {
    grid-area: idLabel;
    color: rgba(0,0,0,0.3);
    margin-right: 20px;
    margin-left: auto;
    float: right;
}

}

#nameLabel {
    grid-area: nameLabel;
}

#nameInput {
    grid-area: nameInput;
}

#priceLabel {
    grid-area: priceLabel;
}

#priceInput {
    grid-area: priceInput;
}


#descriptionLabel {
    grid-area: descriptionLabel;
}

#descriptionInput {
    grid-area: descriptionInput;
}


#errorMsg {
    display: flex;
    justify-content: center;
    grid-area: errorMsg;
    margin: 0px, 5px, 0px, 5px;
    color: lightcoral;
}

#confirmBtn {
    grid-area: confirmBtn;
    border: none;
    border-radius: 20px;
    background-color: cornflowerblue;
    font-size: medium;
    font-weight: bolder;
    margin-top: 15px;
    margin-bottom: 15px;
}
/*#endregion */
